#remove binaries file
bootloader-apploader/GNU ARM v12.2.1 - Default/*.axf
bootloader-apploader/GNU ARM v12.2.1 - Default/*.bin
bootloader-apploader/GNU ARM v12.2.1 - Default/*.hex
bootloader-apploader/GNU ARM v12.2.1 - Default/*.map
bootloader-apploader/GNU ARM v12.2.1 - Default/*.out
bootloader-apploader/GNU ARM v12.2.1 - Default/*.s37

peripheral_bgm220P/GNU ARM v12.2.1 - Default/*.axf
peripheral_bgm220P/GNU ARM v12.2.1 - Default/*.bin
peripheral_bgm220P/GNU ARM v12.2.1 - Default/*.hex
peripheral_bgm220P/GNU ARM v12.2.1 - Default/*.map
peripheral_bgm220P/GNU ARM v12.2.1 - Default/*.out
peripheral_bgm220P/GNU ARM v12.2.1 - Default/*.s37

central_bgm_220P/GNU ARM v12.2.1 - Default/*.axf
central_bgm_220P/GNU ARM v12.2.1 - Default/*.bin
central_bgm_220P/GNU ARM v12.2.1 - Default/*.hex
central_bgm_220P/GNU ARM v12.2.1 - Default/*.map
central_bgm_220P/GNU ARM v12.2.1 - Default/*.out
central_bgm_220P/GNU ARM v12.2.1 - Default/*.s37
